{% extends "base.html" %}

{% block content %}


       
<div id="entety-menu">
<div>
    <h1 class="server-content-title">Servers</h1>
    {% for server in SERVERS %}
        {% set total_traffic = namespace(total_bytes=0) %}
        {% for key in server.data["keys"] %}
            {% if key.used_bytes %}
              {% set total_traffic.total_bytes = total_traffic.total_bytes + key.used_bytes %}
            {% endif %}
        {% endfor %}
    <div class="server-item server-item-{% if loop.index0 == selected_server|int %}unread{% else %}selected{% endif %} pure-g">
        <div class="pure-u-3-4" onclick="location.href='/?selected_server={{loop.index0}}';">
            <h5 class="server-name">{{ server.info()["name"] }}</h5>
            <h4 class="server-info">{{ '/'.join(server.info()["url"].split('/')[0:-1]) }}</h4>
            <h4 class="server-info">Port {{ server.info()["port_for_new_access_keys"] }}</h4>
            <h4 class="server-info">Hostname {{ server.info()["hostname_for_access_keys"] }}</h4>
            <h4 class="server-info">Traffic: {{ total_traffic.total_bytes | filesizeformat }}</h4>
            <h4 class="server-info">v.{{ server.info()["version"] }}</h4>
            <p class="server-comment">
                {{ server.info()["comment"] }}
            </p>
        </div>
    </div>
    {% endfor %}
    <div onclick="location.href='/?add_server=True';" class="server-item server-add pure-g">
            <div class="pure-u-1">
                +
            </div>
    </div>

</div>
</div>

{% if add_server %}
<div id="content">
    <div >
        <div class="server-content-header pure-g">
            <div >
                <h1 class="server-content-title">Add new server</h1>
            </div>
        </div>
        <div class="server-content-body">
        <form action="/add_server" class="pure-form pure-form-stacked" method="POST">
            <fieldset>
                <div >
                    <div >
                        <input type="text"  name="url" placeholder="Server management URL"/>
                    </div>
                    <div >
                        <input type="text" name="cert" placeholder="Certificate"/>
                    </div>
                    <div >
                        <input type="text"  name="comment"  placeholder="Comment"/>
                    </div>
                </div>
                <button type="submit" class="pure-button pure-input-1 pure-button-primary">Add</button>
            </fieldset>
        </form>
    </div>
    </div>
</div>
{% endif %}

{% if SERVERS|length != 0 and not add_server %}

    {% if selected_server is none %}
      {% set server = SERVERS[0] %}
    {% else %}
      {% set server = SERVERS[selected_server|int] %}
    {% endif %}
    <div id="content">
    <div id="main" >
        <div class="server-content">
            <div class="server-content-header pure-g">
                <div>
                    <h1 class="content-title">{{server.info()["name"]}}</h1>
                    <p class="server-content-subtitle">
                        <span>v.{{server.info()["version"]}} {{server.info()["local_server_id"]}}</span>
                    </p>
                </div>

            </div>

            {% set ns = namespace(total_bytes=0) %}
              {% for key in SERVERS[selected_server|int].data["keys"] %}
                {% if key.used_bytes %}
                  {% set ns.total_bytes = ns.total_bytes + key.used_bytes %}
                {% endif %}
              {% endfor %}
            <div class="server-content-body">
                <h3>Clients: {{ server.info()['keys']|length }}</h3>
                <h3>Total traffic: {{ ns.total_bytes | filesizeformat }}</h3>
    <form class="pure-form pure-form-stacked" method="POST">
        <fieldset>
            <div class="pure-g">
                <div class="pure-u-1 ">
                    <label for="name">Server Name</br>This will not be exposed to client</label>
                    <input type="text" id="name" class="" name="name" value="{{server.info()['name']}}"/>
                </div>
                <div class="pure-u-1 ">
                    <label for="comment">Comment</br>This will be exposed to client and will be used as "Server name" in client Outline app</label>
                    <input type="text" id="comment" class="" name="comment" value="{{server.info()['comment']}}"/>
                </div>
                <div class="pure-u-1">
                    <label for="port_for_new_access_keys">Port For New Access Keys</label>
                    <input type="text" id="port_for_new_access_keys"  name="port_for_new_access_keys" value="{{server.info()['port_for_new_access_keys']}}"/>
                </div>
                <div class="pure-u-1 ">
                    <label for="hostname_for_access_keys">Hostname For Access Keys</label>
                    <input type="text" id="hostname_for_access_keys"  name="hostname_for_access_keys" value="{{server.info()['hostname_for_access_keys']}}"/>
                </div>
                <div class="pure-u-1 ">
                    <label for="url">Server URL</label>
                    <input type="text" readonly id="url"  name="url" value="{{server.info()['url']}}"/>
                </div>
                <div class="pure-u-1 ">
                    <label for="cert">Server Access Certificate</label>
                    <input type="text" readonly id="cert"  name="cert" value="{{server.info()['cert']}}"/>
                </div>
                <div class="pure-u-1 ">
                    <label for="created_timestamp_ms">Created</label>
                    <input type="text" readonly id="created_timestamp_ms"  name="created_timestamp_ms" value="{{format_timestamp(server.info()['created_timestamp_ms']) }}"/>
                </div>
                <input type="hidden" readonly id="server_id"  name="server_id" value="{{server.info()['local_server_id']}}"/>
            </div>
            <p>Share anonymous metrics</p>
            <label for="metrics_enabled" class="pure-radio">
                <input type="radio" id="metrics_enabled" name="metrics" value="True" {% if server.info()['metrics_enabled'] == True %}checked{% endif %} /> Enable
            </label>
            <label for="metrics_disabled" class="pure-radio">
                <input type="radio" id="metrics_disabled" name="metrics" value="False" {% if server.info()['metrics_enabled'] == False %}checked{% endif %} /> Disable
            </label>
            <button type="submit" class="pure-button pure-button-primary button">Save and apply</button>
        </fieldset>
    </form>
    <form action="/del_server" method="post">
        <input type="hidden" name="local_server_id" value="{{ server.info()["local_server_id"] }}">
        <button type="submit" class="pure-button pure-button-primary delete-button button">Delete Server</button>
        <input type="checkbox" id="agree" name="agree" required>
    </form>
    
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}
